html,
body,
#root,
.App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  width: 1200px;
  text-align: center;
  margin: 0 auto;
}
body {
  background-color: #000;
}

.map {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 10px auto;
}

.group {
  padding: 10px;
  border-radius: 5px;
  display: grid !important; /* Add grid display */
  grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
  grid-gap: 10px;
  margin-top: 20px;
}

.banner {
  font-weight: normal;
  margin-bottom: 5px;
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

.group button {
  display: block;
  width: 100%;
  margin: 5px 0;
  background-color: antiquewhite;
  color: #000;
}

.footer {
  margin: 0 auto;
  text-align: center;
  color: white;
  padding-bottom: 10px;
}
/* For medium devices */
@media screen and (max-width: 768px) {
  .group {
    grid-template-columns: repeat(2, 1fr);

    width: max-content;
    margin: 0 auto;
  }

  .App {
    width: auto;
  }
}
@media screen and (max-width: 576px) {
  .group {
    grid-template-columns: 1fr;
  }
}
